In [9]:
mylist=[[10,30,40],[50,60,70],[80,90,85]]
list(map(lambda x:x[1],mylist))

[30, 60, 90]

In [12]:
mylist=[10,30,40]
list(map(lambda x:x+2,mylist))

[12, 32, 42]

In [35]:
students=[[10,30,15],[15,40,10],[5,50,11]]
students.sort(key=lambda x:x[2])
students

[[15, 40, 10], [5, 50, 11], [10, 30, 15]]

# Regular Expressions:
        ~ It is a way to check the given data is valid for my rule or not(eg:- mobile number)
        ~ and extracting required sub data from data

In [36]:
import re

# Method-1 : re.search(str_pattern,str_data)

In [37]:
name='sairam'
print(re.search('a',name))

<re.Match object; span=(1, 2), match='a'>

In [38]:
name='saaairam'
print(re.search('a',name))

<re.Match object; span=(1, 2), match='a'>

In [39]:
name='sairam'
print(re.search('aa',name))

None

In [40]:
name='saaairam'
print(re.search('aa',name))

<re.Match object; span=(1, 3), match='aa'>

# Method-2: re.match(str_pattern,str_data)

In [41]:
name='sairam'
print(re.match('s',name))

<re.Match object; span=(0, 1), match='s'>

In [42]:
name='sairam'  
print(re.match('a',name))  ## starting letter is not a hence it returned none

None

In [43]:
name='sairam'  
print(re.match('sr',name))

None

# Method-3: re.findall(str_pattern,str_data)

In [44]:
name='sairam'  
print(re.findall('a',name))

['a', 'a']

In [46]:
name='sairam'  
print(re.findall('z',name))

[]

In [47]:
name='saaairaam'
re.findall('aa',name)

['aa', 'aa']

# Special characters in regular expressions

### .(dot)  represents any single char

In [48]:
re.search('.','sairam')

In [49]:
re.search('.',' sairam')  ## space

In [50]:
names=['sairam','Ram','Lakshmi']
for name in names:
    if re.search('....',name):
        print(name)

sairam
Lakshmi

### ^ (cap)  represents starting with

In [52]:
print(re.search('^a','sairam'))  ## a is not starting letter

None

In [53]:
print(re.search('^s','sairam'))

<re.Match object; span=(0, 1), match='s'>

## (dollar) $ represents ending

In [54]:
print(re.search('m$','sairam'))

<re.Match object; span=(5, 6), match='m'>

In [55]:
print(re.search('sam$','sairam'))

None

In [57]:
names=['sairam','Ram','sai','Lakshmi']
for name in names:
    if re.search('^...$',name):   ### words having exact 3 letters must be printed
        print(name)

Ram
sai

## braces {min,max} - for range

In [59]:
names=['sairam','Ram','sai','Lakshmi']
for name in names:
    if re.search('^.{3,6}$',name):
        print(name)

sairam
Ram
sai

In [62]:
re.search('.{4}','sairam')

In [63]:
re.search('.{2,5}','sairam')

In [64]:
re.search('.{2,}','sairam')

## \d (backward slash) represents any single digit

In [65]:
re.search('\d','sairam123')

In [66]:
re.search('\d\d','sairam123')

In [67]:
re.search('\d{2}','sairam123')

## \D represents any single char other than digit

In [69]:
re.search('\D','24sairam123')

In [77]:
mobiles=['9848022338',
         '91778631402',
        '6543897230',
        '91778a6314']
for mobile in mobiles:
    if re.search('^\d{10}$',mobile):
        print(mobile)

9848022338
6543897230

## [123] in the data either of 3 the digits must be there

In [78]:
re.search('[157]','sairam1')

In [81]:
mobiles=['9848022338',
         '91778631402',
        '5543897230',
         '8177863140',
        '91778a6314']
for mobile in mobiles:
    if re.search('^[9876]\d{9}$',mobile):  ## any of these 4 digits can be there in starting place
        print(mobile)

9848022338
8177863140

In [82]:
mobiles=['9848022338',
         '91778631402',
        '5543897230',
         '8177863140',
        '91778a6314']
for mobile in mobiles:
    if re.search('^[^9876]\d{9}$',mobile):  ## ^ inside braces indicates we dont need those 4 digits,hence remaining digits are printed
        print(mobile)

5543897230

### \s represents any single spacing char

In [83]:
re.search('\s','sai ram')

### \S represents other than space char

In [84]:
re.search('\S','   ram')

## \w  selects valid identifiers
        ` a to z
        ` 0 to 9
        ` _

In [85]:
re.search('\w','   _ram')

## \W represents other than identifiers

In [86]:
re.search('\W','sairam123_  ')

# Working with files in python

In [87]:
f=open('novel.txt','r')  ## read mode
data=f.read()
print(data)
f.close()            ## method-1 reading

line 1
line 2
line 3

In [88]:
f=open('novel.txt','r')
for line in f:           ## method-2
    print(line)
f.close()

line 1

line 2

line 3

In [90]:
## counting rows
f=open('novel.txt','r')
count=0
for line in f:
    count+=1
print(count)
f.close()

3

In [91]:
f=open('novel.txt','r')  
data=f.read() # whole data is read and stored in data
data=f.read() # cursor is in above data after cursor data is empty hence here data ouput is empty
print(data)
f.close()

In [93]:
f=open('novel.txt','r')  ## readline to get single line
data=f.readline()          # method-3
data=f.readline()
print(data)
f.close()

line 2

In [94]:
# to read all lines
f=open('novel.txt','r') 
data=f.readlines()      # method-4
#data=f.readline()
print(data)
f.close()

['line 1\n', 'line 2\n', 'line 3']

In [95]:
f=open('book.txt','w')
content=' python with Machine learning'
f.write(content)                             # write mode will erase old data and takes new data if we add new data
f.close()

In [96]:
f=open('book.txt','w')
print(f.read())
content=' python with Machine learning'   # in write read is not readable
f.write(content)                             
f.close()

UnsupportedOperation: not readable

In [99]:
f=open('book.txt','a')
f.write('hi hello')
content=' python with Machine learning'   # in write read is not readable
f.write(content)                             
f.close()

In [100]:
## update mode 
f=open('book.txt','r+')
print(f.read())
f.write('Every one has a story')
f.close()

hi hellohi hellohi hello python with Machine learning

# tell method- tells where the cursor is

In [102]:
## update mode 
f=open('book.txt','r')
print(f.tell())   
print(f.read())
print(f.tell())

f.close()

0
hi hello python with Machine learningEvery one has a story
58

# seek-cursor position is changed

In [103]:
## update mode 
f=open('book.txt','r')
print(f.tell())   
print(f.read())
print(f.tell())
f.seek(5)
print(f.tell())
print(f.read())
f.close()

0
hi hello python with Machine learningEvery one has a story
58
5
llo python with Machine learningEvery one has a story

In [121]:
f=open('students.txt','r')
f1=open('report.txt','w')
first_row=f.readline()
f1.write(first_row.strip()+'\tTotal\n')
rows=f.readlines()
for line in rows:
    marks=list(map(int,line.strip().split()[1:]))
    total=sum(marks)
    f1.write(line.strip()+'\t'+str(total)+'\n')
f.close()
f1.close()